<div class="container" id="container">
   
	<div class="form-container sign-in-container">
        
        <form action="#">
        <img  class="background-image" src="C:Users/Vip B/Desktop/HCI Project/download.jpg">
			<h1>Sign in</h1>
			
			<span>or use your account</span>
			<input type="text" placeholder="Username" />
			<input type="password" placeholder="Password" />
			
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
                
				<h1>Hello, User!</h1>
				<p>Enter your personal details and start journey with us</p>
               
				<button routerLink="/signup">Sign In</button>
					
			</div>
		</div>
	</div>
</div>


