<div class="tab">
   <style>
       /* Style the tab */
.tab {
  overflow: hidden;
  
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  font-size: large;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  align-items:center ;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
   </style> 

  <img style="height: 50px;width: 50px;float:right;"  class="background-image"  class="left"  src="C:\Users\Vip B\Desktop\HCI Project\2513fa40-3f3c-4c23-97b8-824cfff7720e.jpg"> 
    <button class="tablinks" >Calendar</button>
    <button class="tablinks" >Courses</button>
    <button class="tablinks" >Enroll</button>
    <button  class="tablinks" >Logout</button> 
  </div>
  
  

<div style="width: 300px;border: 15px solid green;padding: 50px;margin: 20px;">
 
  <img  class="background-image"  class="center" src="C:\Users\Vip B\Desktop\HCI Project\Screenshot 2022-05-25 033923.jpg">
 
 
 
 
 <p style="text-align:center ;font-size: larger;">
  Name:XXXX xxxx XXXX xxxx.
</p>
  <p style="text-align:center ;font-size: larger;">
  Email: xxxx@cis.asu.edu.eg
</p>
 
  <p style="text-align:center ;font-size: larger;">
  ID Number:xXxXxXx
</p>
  
  <p style="text-align:center ;font-size: larger;">

</div>